.bundle/
log/*.log
pkg/
_work/


/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/.DS_Store
/*/.DS_Store
/**/*/.DS_Store
/_work


/archivesspace_browser_test_app/.bundle/
/archivesspace_browser_test_app/log/*.log
/archivesspace_browser_test_app/_work/
/archivesspace_browser_test_app/tmp/*
!/archivesspace_browser_test_app/log/.keep
!/archivesspace_browser_test_app/tmp/.keep
/archivesspace_browser_test_app/storage/*
/archivesspace_browser_test_app/config/initializers/archivesspace_config.rb
/archivesspace_browser_test_app/Gemfile.lock
