#archivesspace-browser-components {
  font-family: helvetica, arial, sans-serif;
}

#archivesspace-browser-components label {
  font-size: 1rem !important;
}

#archivesspace-browser-components .block {
  display: block;
}

#archivesspace-browser-components .hidden {
  display: none;
}

#archivesspace-browser-components .link {
  color: #427E93;
  cursor: pointer;
  text-decoration: none;
}

#archivesspace-browser-components input[type='text'] {
  padding: 0.5rem;
  width: 100%;
  max-width: 30rem;
}

#archivesspace-browser-components input#select-by-uri-input {
  display: inline-block;
}


#archivesspace-browser-components label[for='resource-search-input'],
#archivesspace-browser-components label[for='resource-tree'],
#archivesspace-browser-components label[for='select-by-uri-input'] {
  margin-bottom: 0.5rem;
}

#archivesspace-browser-components button {
  padding: 0.5rem;
  background-color: #427E93;
  color: #fff;
  border: none;
  cursor: pointer;
}


/* input-group styles borrowed from Foundation */

#archivesspace-browser-components .input-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 30rem;
    margin-bottom: 1rem;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

#archivesspace-browser-components .input-group-button {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

#archivesspace-browser-components .input-group-field {
    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    min-width: 0;
}

/* END - input-group styles borrowed from Foundation */



#archivesspace-browser-components .loading {
  background-image: image-url("archivesspace_browser/loading.gif");
  background-position: center 1rem;
  background-repeat: no-repeat;
  width: 100px;
  margin: 0 auto;
}

#archivesspace-browser-components .loading .message {
  padding: 40px 0;
  color: #cc0000;
  font-style: italic;
  text-align: center;
}

#archivesspace-browser-components #archivesspace-browser-heading {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

#archivesspace-browser {
  border: 1px solid #989c9b;
  padding: 0.5rem 1rem;
  background: #EBF0EF;
}

#archivesspace-browser h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

#archivesspace-browser .select-record {
  padding-left: 0.75rem;
  position: relative;
  top: -3px;
  white-space: nowrap;
}

#archivesspace-browser .select-record .link {
  text-transform: uppercase;
  font-size: 60%;
  line-height: 1.2em;
  padding: 0.2rem 0.2rem 0.15rem 0.2rem;
  color: white;
  background: #427E93;
  text-decoration: none;
}

#archivesspace-browser .select-record .link:hover {
  background: #427E93;
}

#archivesspace-browser .tree-level {
  margin-bottom: 0.75rem;
}

#archivesspace-browser .tree-level .container {
  font-style: italic;
}

#archivesspace-browser .tree-branches {
  background: #79807F;
  color: #fff;
  padding: 0.25rem 0.5rem;
}

#archivesspace-browser .tree-branches .tree-level {
  margin-bottom: 0.25em;
}

#archivesspace-browser .tree-branches .tree-level.tree-level-branch {
  margin-bottom: 0;
}

#archivesspace-browser .tree-branches a,
#archivesspace-browser .tree-branches .link {
  color: #99E2FF;
}

#archivesspace-browser .tree-level-branch {
  font-weight: bold;
  margin-bottom: 0;
}

#archivesspace-browser .tree-level-no-children {
  font-style: italic;
}

#archivesspace-browser #resource-search,
#archivesspace-browser #resource-tree {
  margin-bottom: 1rem;
}

#archivesspace-browser #resource-search-results {
  margin: 0.5rem 0 1rem 0;
  padding: 0.75rem;
  background: #fdfdfd;
  border: 1px solid #ddd;
}

#archivesspace-browser #resource-search-results ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#archivesspace-browser #resource-search-results ul li {
  margin: 0 0 1rem 0;
  padding: 0;
  list-style: none;
}

#archivesspace-browser #resource-search-results ul li:last-child {
  margin-bottom: 0;
}

#archivesspace-browser #back-to-search {
  font-style: italic;
  margin-bottom: 0.75rem;
  cursor: pointer;
}

#archivesspace-browser #resource-tree-level-content .tree-leaves {
  max-height: 300px;
  overflow: auto;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
  background: #F5F7F7;
  line-height: 1.25em;
}

/* Force Webkit to display scrollbars */
#archivesspace-browser #resource-tree-level-content .tree-leaves::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

#archivesspace-browser #resource-tree-level-content .tree-leaves::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#archivesspace-browser-components .level-0 { padding-left: 0; }
#archivesspace-browser-components .level-1 { padding-left: 1rem; }
#archivesspace-browser-components .level-2 { padding-left: 2rem; }
#archivesspace-browser-components .level-3 { padding-left: 3rem; }
#archivesspace-browser-components .level-4 { padding-left: 4rem; }
#archivesspace-browser-components .level-5 { padding-left: 5rem; }
#archivesspace-browser-components .level-6 { padding-left: 6rem; }
#archivesspace-browser-components .level-7 { padding-left: 7rem; }
#archivesspace-browser-components .level-8 { padding-left: 8rem; }
#archivesspace-browser-components .level-9 { padding-left: 9rem; }
#archivesspace-browser-components .level-10 { padding-left: 10rem; }
#archivesspace-browser-components .level-11 { padding-left: 11rem; }
#archivesspace-browser-components .level-12 { padding-left: 12rem; }

#archivesspace-browser-post #record-pane {
  margin: 0 0 1.5rem 0;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  background: #e1e5e5;
  font-size: 0.9rem;
}

#archivesspace-browser-components #back-to-select {
  margin-bottom: 0.5rem;
}

#archivesspace-browser-components #record-pane  .heading {
  margin: 0 0 0.5rem 0;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#archivesspace-browser-components #record-pane .tree-level-branch{
  margin-bottom: 0.25rem;
  line-height: 1.3em;
}

#archivesspace-browser-components #record-pane .tree-level-leaf {
  font-weight: bold;
  line-height: 1.3em;
}
